html {
  background: rgb(252,252,252);
  background: linear-gradient(0deg, rgba(252,252,252,1) 0%, rgba(241,241,241,1) 100%);
}

#root {
  min-height: 100%;
}

#App {
  min-height: 100%;
}

#bannerImg {
  width: 100%;
}

/*big navbar stuff */

#fullNavBarContainer {
  display: flex;
  position: sticky;
  margin-top: -4px;
  justify-content: space-between;
  padding-right: 25px;
  background-color: #f7f7f7;
  z-index: 99;
  border-bottom: 1px solid #d1d1d1;
}

#fullNavLeft {
  display: flex;
}

#fullNavRight {
  display: flex;
  margin-right: 15px;
}

.navBarNavLink {
  text-decoration: none;
}

#titleContainer {
  background-color: #1c1c1c;
  color: rgb(255, 69, 0);
  border: 1px solid #1c1c1c;
  border-radius: 1px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 0px;
  transition: .5s ease;
  font-size: 28px;
  font-weight: bold;
  height: 66px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  /*the following was an attempt to fix a small aesthetic issue with fullnavbar's border. causes more problems than it solves*/
  margin-bottom: -1px;
}

#titleContainer:hover {
  background-color: #e62222;
  color: #1c1c1c;
}

#socialWrapper {
  display: flex;
  flex-direction: row;
}

#fullNavTitle {

}

.fullNavTextContainer {
  font-size: 20px;
  width: 85px;
  padding-left: 9px;
  padding-right: 9px;
  transition: .5s ease;
  border-radius: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333333;
}

.fullNavTextContainer:hover {
  background-color: #333333;
  color: #faf7f7;
}

.fullNavSocialContainer {
  margin-left: 6px;
  margin-right: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  /*width: 50px;*/
}

.faNavIcon {
  font-size: 31px;
}

.faNavIconContainer {
  border-radius: 100px;
  height: 44px;
  width: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#androidContainer {
  background-color: lightgreen;
}

#appleContainer {
  background-color: #333333;
}

/*small navbar stuff*/

#smallNavBarContainer {
  display: flex;
  position: sticky;
  margin-top: -4px;
  justify-content: space-between;
  height: 50px;
  padding-right: 25px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #d1d1d1;
  z-index: 99;
}

/*old navbar stuff */

#navBar {
  position: sticky;
  top: 0px;
  display: grid;
  grid-template-columns: 2fr 2fr 4fr 2fr 2fr;
  grid-template-rows: 1fr;
  align-items: center;
  /*color: white;*/
  color: black;
  z-index: 99;
  box-shadow: 0px 0px 5px black;
}

.searchIcon {
  font-size: 18px;
}

#title {
  margin: 0 auto;
  font-size: 28px;
  line-height: 28px;
  grid-column: 3;
  grid-row: 1;
}

.navButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.navTextWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  background-color: #e3e3e3;
  color: black;
  transition: background .5s ease;
  border: 1px solid black;
  border-right: none;
  text-decoration: none;
}

.navTextWrapper:hover {
  background-color: #333333;
  color: white;
}

#navTitleWrapper {
  /*background-color: #ff4747;*/
}

#navTitleWrapper:hover {
  background-color: #333333;
  color: white;
}

.navText {
  font-size: 28px;
  line-height: 28px;
  text-decoration: none;
  justify-self: center;
  color: inherit;
  text-decoration: none;
  margin: 0px;
}

.navText:hover {

}

/*#navRight {
  grid-column: 4;
  grid-row: 1;
}

#navLeft {
  grid-column: 2;
  grid-row: 1;
}*/

#aboutLink {
  grid-column: 1;
  grid-row: 1;
}

#donateLink {
  grid-column: 2;
  grid-row: 1;
}

#volunteer {
  grid-column: 4;
  grid-row: 1;
}

#contactLink {
  grid-column: 5;
  grid-row: 1;
}

/*homepage stuff*/

#homepageWrapper {
  min-height: 100%;
}

#homepageContent {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

#homepageImg {
  width: 100%;
  grid-column: 1;
}

#homepageText {
  grid-column: 2;
  background-color: #fafafa;
  color: #333333;
}

#eventOfTheDayWrapper {
  grid-column: 1 / 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 1px solid #d1d1d1;
  background-color: #f5f5f5;
}

#eventOTDTextWrapper {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}

#eventOfTheDay {
  display: inline-block;
  padding: 3px;
  color: #333333;
  font-size: 36px;
  margin: 0px;
}

#homepageTextWrapper {
  position: absolute;
  top: 115px;
  right: 80px;
}

#homepageHeader {
  text-align: center;
  font-size: 42px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 15px;
}

#homepageDescription {
  font-size: 22px;
  margin-top: 15px;
  margin-bottom: 20px;
  margin-left: 25px;
  margin-right: 15px;
}

#toTheCalendarOuterWrapper {
  color: #333333;
  border: 1px solid #8e8e8e;
  padding: 18px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 28px;
  display: table;
  border-radius: 10px;
  margin: auto;
  margin-bottom: 10px;
  transition: .5s ease;
  text-decoration: none;
}

#toTheCalendarWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#toTheCalendarOuterWrapper:hover {
  color: #ededed;
  background-color: #333333;
}

#toTheCalendar {
  margin-top: 0px;
  margin-right: 8px;
  margin-bottom: 0px;
}

@media (max-width: 1330px) {
  #homepageHeader {
    font-size: 36px;
    margin-bottom: 10px;
  }
  #homepageDescription {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media (max-width: 1140px) {
  #homepageHeader {
    font-size: 30px;
    margin-bottom: 5px;
  }
  #homepageDescription {
    font-size: 18px;
    margin-bottom: 5px;
  }
  #toTheCalendarOuterWrapper {
    font-size: 24px;
  }
}

@media (max-width: 1040px) {
  #homepageHeader {
    font-size: 24px;
  }
  #homepageDescription {
    font-size: 16px;
  }
  #toTheCalendarOuterWrapper {
    margin-top: 10px;
    font-size: 20px;
  }
}

@media (max-width: 950px) {
  #homepageHeader {
    font-size: 20px;
  }
  #homepageDescription {
    font-size: 15px;
  }
  #toTheCalendarOuterWrapper {
    font-size: 18px;
  }
}

@media (max-width: 850px) {
  #fullNavBarContainer {
    /*flex-direction: column;*/
  }
  .faNavIconContainer {
    border-radius: 100px;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .faNavIcon {
    font-size: 22px;
  }
  #homepageHeader {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  #homepageDescription {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  #toTheCalendarOuterWrapper {
    margin-top: 6px;
    padding: 8px;
  }
}

@media (max-width: 800px) {
  .fullNavTextContainer {
    width: 65px;
    font-size: 18px;
  }
  #titleContainer {
    width: 47px;
    font-size: 24px;
  }

}

@media (max-width: 780px) {
  #homepageContent {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 0px;
  }

  #homepageImg {
    display: none;
  }

  #homepageImgSmall {
    width: 32%;
    margin: auto;
  }

  #homepageText {
    padding-top: 5px;
    grid-column: 1;
  }

  #homepageDescription {
    margin-bottom: 8px;
    font-size: 17px;
  }

  #socialWrapper {
    display: flex;
    flex-direction: row;
  }
  #titleContainer {
    height: 48px;
    width: 35px;
    font-size: 20px;
  }
}

@media (max-width: 515px) {
  #homepageWrapper {
    padding-bottom: 15px;
    background-color: #f5f5f5;
  }
}

/*calendar stuff*/

#settings {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 25px;
}

#datePicker {
  font-size: 17px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-weight: bold;
  height: 52px;
  border-color: black;
  border-width: 1px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px;
  margin-right: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 5px;
  padding-right: 5px;
}

#datePickerWrapper:hover {
  cursor: pointer;
}

#onThisDayWrapper {
  display: flex;
  justify-content: center;
}

#onThisDay {
  font-size: 32px;
  text-align: center;
  border-bottom: 1px solid black;
  display: inline-block;
  padding: 5px;
  padding-left: 12px;
  padding-right: 12px;
  margin-bottom: 20px;
  margin-top: 15px;
}

#searchWrapper {
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px 5px;
  margin-left: 10px;
  padding: 1px;
}

#searchField {
  font-size: 17px;
  font-weight: bold;
  width: 175px;
  height: 52px;
  padding: 0px;
  padding-left: 12px;
  border: 0px;
}

#searchButton {
  width: 52px;
  height: 52px;
  background-color: white;
  color: grey;
  border: 0px;
}

#searchButton:hover {
  cursor: pointer;
}

.categoryEvents {
  border: 1px solid black;
  border-radius: 8px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  margin-bottom: 20px;
  background-color: #333333;
  color: white;
  box-shadow: 3px 3px 5px black;
}

.headerWrapper {
  padding-top: 9px;
  padding-bottom: 15px;
}

.headerWrapper {
  cursor: pointer;
}

.categoryHeaderWrapper {

}

.categoryHeader {
  text-align: center;
  font-size: 34px;
  margin: 0px;
}

#eventDisplay {
  width: 60%;
  margin: auto;
}

.eventWrapper {
  background-color: white;
  color: black;
  border: 1px solid black;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
  border-radius: 0px;
  padding: 0px;
  margin-top: 0px;
}

.homepageEventWrapper{
  width: 75%;
  margin: auto;
  background-color: #333333;
  color: black;
  border: 1px solid black;
  border-radius: 8px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 15px;
}

.eventHeaderWrapper {
  border-bottom: 1px solid black;
}

.homepageEventHeaderWrapper {
  border-bottom: 1px solid black;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  background-color: #333333;
  color: white;
}

.headerEvent {
  margin-left: 30px;
  margin-right: 10px;
}

.eventHeaderWrapper:hover {
  cursor: pointer;
}

.eventButton {
  position: absolute;
  margin-left: 9px;
  margin-top: 5px;
}

.eventHeader {
  text-align: center;
  font-size: 23px;
  margin-bottom: 0px;
  padding-bottom: 17px;
}

.homepageEventHeader {
  text-align: center;
  font-size: 23px;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 17px;
  padding-bottom: 17px;
}

.expandedEventHeader {
  background-color: white;
}

.eventFull {
  background-color: #f7f7f7;
}

.homepageEventFull {
  background-color: #f7f7f7;
}

.homepageEventDescription {
  margin-left: 20px;
  margin-right: 20px;
}

.eventDate {
  text-align: center;
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 10px;
  padding-top: 15px;
}

.homepageEventDate {
  text-align: center;
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 10px;
  padding-top: 15px;
}

.eventImg {
  display: block;
  margin: 0 auto;
}

.homepageEventImg {
  display: block;
  margin: 0 auto;
}

.eventDescription {
  margin-left: 30px;
  margin-right: 30px;
}

.sourcesWrapper {
  text-align: center;
  border-top: 1px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.homepageSourcesWrapper {
  text-align: center;
  border-top: 1px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.links {
  font-size: 22px;
  text-decoration: none;
  color: white;
  padding-bottom: 8px;
  padding-top: 7px;
  background: #333333;
}

.links:hover {
  background: #f0f0f0;
  color: black;
  cursor: pointer;
}

.emptyLink {
  /*same as .links, but no color change on hover*/
  font-size: 22px;
  text-decoration: none;
  color: black;
  border-right: 1px solid white;
  padding-bottom: 8px;
  padding-top: 7px;
  background: #333333;
}

.source {
  grid-column: 1;
  border-right: 1px solid #e6e6e6;
}

.more {
  grid-column: 2;
  border-right: 1px solid #e6e6e6;
}

/*items only rendered at 780px width or below*/
#hamburgerOpen {
  position: absolute;
  /*top defined dynamically in code due to banner image height shifting with resize*/
  left: 95px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(0deg, rgba(37,37,37,1) 0%, #333333 100%);
  z-index: 100;
  border: 1px solid #333333;
};


.hamburgerIcon {
  position: absolute;
  left: 90px;
  top: 15px;
}

.hamburgerText {
  border-bottom: 1px solid grey;
  padding: 10px;
  transition: background .5s ease;
  background-color: #333333;
  color: white;
}

.hamburgerText:hover {
  background-color: #e3e3e3;
  color: black;
}

.copyWrapper {
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.copyText {
  margin: 0px;
  margin-left: 8px;
}

#emptyPromptWrapper {
  margin-left: 10px;
  margin-right: 10px;
}

#emptyDayMessageWrapper {
  display: flex;
  flex-direction: column;
}

.emptyPrompt {
  margin: auto;
  font-size: 24px;
  /*
  background-color: #e3e3e3;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px 4px black;*/
  display: inline-block;
  padding: 10px;
  margin-bottom: 8px;
  text-align: center;
}

#emptyDayLinkWrapper {
  display: inline-block;
  width: fit-content;
  margin: auto;
  background-color: inherit;
  border: 1px solid black;
  box-shadow: 2px 2px 4px black;
  border-radius: 5px;
  padding: 10px;
  color: black;
  transition: background .75s ease;
}

.emptyPromptLink {
  text-decoration: none;
  color: inherit;
}

#emptyDayLinkWrapper:hover {
  background-color: #333333;
  color: white;
}

.emptyPromptLink:hover {
  color: inherit;
}

#emptyLinkWrapper {
  margin-bottom: 0px;
}

/*media queries*/

@media (max-width: 1000px) {
  #eventDisplay {
    width: 70%;
  }
  #title {
    font-size: 25px;
  }
  .navText {
    font-size: 25px;
  }
}

/*this is where hamburger menu starts*/

@media (max-width: 800px) {
  #navBar {
    position: sticky;
    top: 0px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    background-color: #e3e3e3;
    padding: 10px;
    color: black;
    border: 1px solid #333333;
  }

  #title {
    margin: 0 auto;
    padding: 4px 10px 4px 10px;
    font-size: 26px;
    grid-column: 1;
    grid-row: 1;
    transition: background .5s ease;
  }

  #title:hover {
    cursor: pointer;
  }

  #eventDisplay {
    width: 80%;
  }
}

@media (max-width: 700px) {
  #eventDisplay {
    width: 92%;
  }
  .emptyPrompt {
    font-size: 18px;
    padding: 7px;
  }
  .homepageEventWrapper {
    width: 95%;
  }
}

@media (max-width: 570px) {
  .links {
    font-size: 20px;
  }
}

@media (max-width: 500px) {
  #datePicker {

  }
  #searchField {
    width: 85px;
  }
  #onThisDay {
    font-size: 26px;
    text-align: center;
    border-bottom: 1px solid black;
    display: inline-block;
    padding: 5px;
    padding-left: 12px;
    padding-right: 12px;
    margin-top: 0px;
    margin-bottom: 15px;
  }
  .headerWrapper {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .categoryHeader {
    text-align: center;
    font-size: 26px;
    margin: 0px;
  }
  .eventHeader {
    text-align: center;
    font-size: 20px;
    margin-bottom: 0px;
    padding-bottom: 15px;
  }
  .eventDate {
    text-align: center;
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 8px;
    padding-top: 12px;
  }
  .eventDescription {
    margin-left: 23px;
    margin-right: 23px;
    font-size: 15px;
  }
  .sourcesWrapper {
    display: flex;
    flex-direction: column;
  }
  .homepageSourcesWrapper {
    display: flex;
    flex-direction: column;
  }
  .source {
    border-right: 0px;
    border-bottom: 1px solid #e6e6e6;
  }
  .more {
    border-right: 0px;
    border-bottom: 1px solid #e6e6e6;
  }
  .emptyPrompt {
    font-size: 15px;
  }
  #hamburgerOpen {
    left: 82px;
  }
}

@media (max-width: 410px) {
  #emptyDayLinkWrapper {
    padding: 6px;
  }
}

@media (max-width: 375px) {
  #searchField {
    width: 50px;
  }
  #searchButton {
    width: 35px;
  }
  #datePicker {
    width: 160px;
  }
  .emptyPrompt {
    font-size: 14px;
    padding: 2px;
    margin-bottom: 15px;
  }
}
