#App {
  background-color: #ebebeb;
  padding-bottom: 20px;
}

#navBar {
  display: grid;
  grid-template-columns: 2fr 2fr 4fr 2fr 2fr;
  grid-template-rows: 1fr;
  align-items: center;
  background-color: #1c1c1c;
  color: white;
  padding: 3px;
}

#title {
  margin: 0 auto;
  font-size: 28px;
  grid-column: 3;
  grid-row: 1;
}

.navButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.navText {
  font-size: 22px;
}

#navRight {
  grid-column: 4;
  grid-row: 1;
}

#navLeft {
  grid-column: 2;
  grid-row: 1;
}

#onThisDayWrapper {

}

#onThisDay {
  font-size: 32px;
  text-align: center;
}

#settings {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
}

.categoryEvents {
  border: 1px solid black;
  border-radius: 8px;
  margin-bottom: 20px;
  background-color: black;
  color: white;
}

.categoryHeaderWrapper {

}

.categoryHeader {
  text-align: center;
  font-size: 38px;
}

#eventDisplay {
  width: 60%;
  margin: auto;
}

.eventWrapper {
  background-color: #f5f5f5;
  color: black;
  border: 1px solid black;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
  border-radius: 3px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  padding: 0px 10px 10px 10px;
  margin-top: 5px;
}

.eventHeader {
  text-align: center;
  font-size: 23px;
}

.eventDate {
  text-align: center;
  font-size: 20px;
}

.eventImg {
  display: block;
  margin: 0 auto;
}

.eventDescription {
  margin-left: 20px;
  margin-right: 20px;
}

.sourcesWrapper {
  text-align: center;
}

.source {
  font-size: 22px;
  text-decoration: underline;
  color: black;
  margin-left: 10px;
  margin-right: 10px;
}
